{% load static %}
<html>
<head>
	 {% load static %}
<title>Donor form </title>
<!--<script type="text/javascript" src="{% static 'js/form.js' %}"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>

<body topmargin= "100">

<center>
<form action="" method="get" id="dform" name="formal">{% csrf_token %}
<h1><font face="<Lucida Handwriting" size=+6 color= "brown"> DONOR REGISTRATION FORM</font> </h1>
<table cellspacing="15">
<tr>
<td>
	<font  size=+2> <b> Full Name </b></font>
</td>
<td>
<input id="fname" size=+50 type="text" name="FullName">
</td>
</tr>
<tr>
<td>
	<font size=+2> <b>Contact Number</b></font>
</td>
<td>
<input id="cno" size=+50 type="text" name="ContactNo">
</td>
</tr>
<tr>
<td>
	<font size=+2> <b>Email Id</b></font>
</td>
<td>
<input id="email" size=+50 type="email" name="EmailId">
</td>
</tr>
<tr>
<td>
	<font size=+2> <b> Age </b></font>
</td>
<td>
<input id="age" size=+50 type="number" name="Age">
</td>
</tr>
<tr>
<td>
	<font size=+2> <b>Gender </b></font>
</td>
<td>
<input type="radio" name="gender" value="Male">Male
        <input type="radio" name="gender" value="female">Female
		<input type="radio" name="gender" value="others"> other
</td>
</tr>
<tr>
<td>
	<font size=+2> <b>Blood Group </b></font>
</td>
<td>
<select name="dropdown" id="blood_grp">
		<option value="A+">A+</option>
		<option value="A-">A-</option>
		<option value="B+">B+</option>
      	<option value="B-">B-</option>
		<option value="AB+">AB+</option>
		<option value="AB-">AB-</option>
		<option value="O+">O+</option>
		<option value="O-">O-</option>
		</select>
</td>
</tr>
<tr>
<td>
	<font  size=+2> <b> Address </b></font>
</td>
<td>
<input size=+50 type="text" name="Address" id="address">
</td>
</tr>
</table>
<br>
<input id="submit_btn" type="button" name= "submit" value ="Submit">
</form>
</center>

</body>
<script type="text/javascript">

	   $('#submit_btn').on('click',function(e){
	   			e.preventDefault();
if($('#fname').val()=="")
  {
    alert("First name cannot be blanked");
	return;
   }
 if($('#cno').val().trim().length!=10)
  {
    alert("Contact Number should be of 10 digits!");
	return;
  }
  if($('#email').val()=="")
   {
     alert("Email Id cannot be blanked");
     return;
	}
  if( $('#age').val()=="" || parseInt($('#age').val())<18)
  {
    alert("enter age and age should be greater than 18");
	return;
   }
<!--   if(form.gender.value=="")-->
<!--  {-->
<!--    alert("Gender cannot be blanked");-->
<!--	return;-->
<!--   }-->
   if($('#address').val()=="")
  {
    alert("Address cannot be blanked");
	return;
   }
   				alert("form submitted");
	   			$.ajax({
	   				type:'POST',
	   				url:'/donorform/',
	   				data:{
	   					fname:$('#fname').val(),
	   					email:$('#email').val(),
	   					cno:$('#cno').val(),
	   					blood_grp:$('#blood_grp').val(),
	   					address:$('#address').val(),
	   					age:$('#age').val()
	   					},
	   					dataType: 'json',
	   					success:function(){
	   					console.log('HEREE')
								alert("form submitted");
	   					}
	   					});
	   					})

</script>

</html>
